<%= link_to "Back to Events", showevents_path , class: "btn btn-secondary" ,:remote => true %>
<pre> </pre>
<%= form_with(model: @event) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <%= form.submit %>
<% end %>
